* {
  line-height: 200%;
}

li {
  display: inline-block;
  list-style: none;
  padding: 4px;
}

/* header */
#fixed {
  width: 1050px;
  padding: 20px 0 20px 0;
  margin: 0 auto;
}

.background img {
  width: 100%;
}

.text_banner {
  display: inline-block;
  color: white;
  text-align: center;
  z-index: 999;
}

/* esempi prodotto */

.container .left,
.container .right{
  text-align: center;
  padding: 3vh 2vh 3vh 2vh;
}
.go, .bike {
  background-color: #FAFAFA;
}
.left img,
.right img {
  width: 50%;
}


@media screen and (max-width: 768px){
  .nav {
    display: none;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px){
  .nav {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .hamburgher {
    display: none;
  }
}
